body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .logo img {
  width: 50px;
}

nav .logo a {
  text-decoration: none;
  color: black;
}

nav .nav-list {
  display: flex;
  gap: 50px;
}

nav .search-cart {
  display: flex;
  gap: 20px;
  align-items: center;
}

.breadcrumbs {
  margin: 10px;
  display: flex;
  gap: 5px;
}

.product {
  display: flex;
  flex-direction: column;
  margin: 50px;
  gap: 50px;
}

.product-image {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.small-image {
  display: flex;
  gap: 10px;
}

.product-image > img {
  width: 322px;
  border: 1px solid black;
}

.product-image .small-image img {
  width: 100px;
  border: 1px solid black;
}

.order-button {
  width: fit-content;
  border: 1px solid black;
  padding: 10px 16px;
  cursor: pointer;
  box-shadow: 2px 4px 0px black;
}

.order-button:hover {
  background-color: gainsboro;
}

.product-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-name {
  font-size: xx-large;
}

.product-color-variant {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

.color-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.color-option input[type='radio'] {
  display: none;
}

.color-option label {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  border: 2px solid #ccc;
  cursor: pointer;
}

label[for='hitam'] {
  background-color: black;
}
label[for='putih'] {
  background-color: white;
}
label[for='navy'] {
  background-color: navy;
}
label[for='army'] {
  background-color: #4b5320;
}

.color-option input[type='radio']:checked + label {
  border: 2px solid cornflowerblue;
}

.product-size-variant {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

.size-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.size-option input[type='radio'] {
  display: none;
}

.size-option label {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
  cursor: pointer;
}

.size-option input[type='radio']:checked + label {
  border: 2px solid cornflowerblue;
}
