* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.box {
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.header {
  display: flex;
  gap: 20px;
}

.header-left {
  background-color: #f4eb49;
  width: 20%;
}

.header-right {
  background-color: #ff6624;
  width: 80%;
}

.main {
  display: flex;
  gap: 20px;
  height: 50dvh;
}

.main-left {
  width: 20%;
  background-color: #aedd94;
}

.main-middle {
  width: 58%;
  background-color: #d1d6db;
}

.main-right {
  width: 20%;
  background-color: #4dd7fa;
}

.footer {
  background-color: #1464f6;
}
